/* Set Variables For Global Use */
:root {
  --white: white;
  --purple: rgb(185, 77, 185);
  --background-color: rgb(5, 3, 26);
  --border-radius: 10px;
}


body {
  background-color: var(--background-color);
  padding: 50px 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header Starts */
h1 {
  font-size: 300%;
  color: var(--purple);
  text-align: center;
}
/* Header Ends */

.web-descr {
  margin: 10px auto;
  width: 80%;
  color: var(--white);
  text-align: center;
}

/* Snippets Start */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* 3 snippets per row by default */
.box {
  width: 33%;
  padding: 10px;
}

/* dash box set as flex container with Y as main axis */
.snippet {
  border: 2px dashed var(--white);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* snippet title */
.box-title {
  font-size: 150%;
  background-color: var(--background-color);
  color: var(--purple);
  border: 2px solid var(--white);
  border-radius: var(--border-radius);
  width: 90%;
  position: relative;
  top: -25px;
  margin-bottom: -20px;
  padding: 5px;
}

/* code description block */
.code-descr {
  width: 100%;
  color: var(--purple);
  margin: 5px auto;
}

/* code block starts */
.liniear-gradient-background { 
  background-image: linear-gradient(
  rgba(40, 11, 41, 0.7) 0%,
  rgba(174, 107, 177, 0.4) 100%
  );
}

.sample-code {
  flex: 1;
  width: 100%;
  color: var(--white);
  background-color: var(--purple);
  border-radius: var(--border-radius);
  padding: 10px;
  display: flex;
  margin: 5px auto;
}

pre {
  width: 100%;
  white-space: pre-wrap;
  font-family: 'Source Code Pro', monospace;

} 

code:hover {
  background-color: rgb(91, 202, 91);
}
/* code block ends */


/* Footer Start */
h4 {
  margin-top: 70px;
  text-align: center;
  color: var(--purple);
}
/* Footer Ends */

/* Pad Screen */
@media screen and (max-width: 992px) and (min-width: 769px) {
  .box {
    width: 47%;
  }
}

/* Mobile Screen */
@media screen and (max-width: 768px) {
  .box {
    width: 90%;
  }
}


